# Port and IP Binding
PORT=3000
HOST=0.0.0.0

# Cognito
COGNITO_REGION=us-XXXXXXX
COGNITO_TOKEN_EXPIRATION=14400000
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_USER_POOL_ID=XXXXXXXXXXXXXXXXXXX
COGNITO_ACCESS_KEY=XXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# CookieParser
COOKIE_SECURE_STRING=XXXXXXXXXXXXXXXXXX

# MultiTenancy Subdomain index
SUBDOMAIN_ARRAY_INDEX=0

# Temp Pass Private OSM default user
TEMP_PW=XXXXXXXXX

# Cipher Key2 for Private OSM
PASS_CIPHER_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# S3 BUCKET ACCESS TOKENS for Image Data Pipeline
OTP_S3_ACCESS_KEY_ID=XXXXXXXXXXXXXXXXXXXXXXXX
OTP_S3_SECRET_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OTP_S3_REGION=us-XXXXXX
OTP_S3_BUCKET_NAME=XXXXXXXXXX

# OTP LAMBDA FUNCTION
OTP_LAMBDA_FUNCTION_NAME=XXXXXXXXXXXX

# Historic Pictures set to 'kcm' in prod and 'kcm_dev' for dev
HISTORIC_PICTURE_TENANT_NAME=kcm_dev
