head
  meta(charset='UTF-8')
  link(rel='stylesheet' type='text/css' href='/stylesheets/commons.css')

  body.body1
    .forgotpasswordform
      p.titlecolor Forgot Your Password?
        hr(color='#407DE0' size='4')
        br
        .resetrequestconatiner
          p.color Step 1: Request temporary password
          .enteremail
            form#Form(method='POST' action='')
              input#username.form-control.form-control-md.height.required(type='email' placeholder='Enter username ( MV email) to receive temporary password *' name='username' required='true' value='')
              br
              input.primarybutton.submit(type='submit' value='Request')
              br
        .newpassword
          p.color Step 2: Set new password
          br
          form#Form(method='POST' action='')
            .form-group.required.col-md-4.bottommargin
              label.control-label(for='username' style='font-size:16px;') User name:
              br 
              input#username.form-control.form-control-md.height(type='email'  placeholder='Enter email address' name='username' required='true' value='')
            .form-group.col-md-4.bottommargin
              label.control-label(for='vCode' style='font-size:16px;') Verfication Code (Current Users):
              br 
              input#vCode.form-control.form-control-md.height(type='text'  name='vCode' value='')
            .form-group.col-md-4.bottommargin
              label.control-label(for='tempPaasword' style='font-size:16px;') Temporary Password (New Users):
              br 
              input#tempPassword.form-control.form-control-md.height(type='password'  name='tempPassword'  value='')
            .form-group.required.col-md-4.bottommargin
              label.control-label(for='newPassword' style='font-size:16px;') New Password:
              br
              input#newPassword.form-control.form-control-md.height(type='password'  name='newPassword1' required='true' value='')
            .form-group.required.col-md-4.bottommargin
              label.control-label(for='newPassword2' style='font-size:16px;') Confirm New Password:
              br
              input#newPassword2.form-control.form-control-md.height(type='password'  name='newPassword2' required='true' value='')             
            .formfooter.col-md-12
                input.primarybutton.submit(type='submit' value='Submit')
                input.secondarybutton.submit(type='button' value='Return to Login' onclick="location.href='/login';")
            br
            if s_status == 'New Passwords Do Not Match.'
                .passwordalert
                  span.closebtnpass(onclick="this.parentElement.style.display='none';") &times;
                  strong Failed!
                  |  New Passwords Do Not Match.
            if s_status == 'Wrong Info Provided, Pleas Try Again.'
                .passwordalert
                  span.closebtnpass(onclick="this.parentElement.style.display='none';") &times;
                  strong Failed!
                  |  Wrong Info Provided, Please Try Again.
            br

